nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#')
    img(src='/img/xknot.png' width='30' height='30' alt='')
    |  Celt-X Crying
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/')
          | Home 
      li.nav-item
        a.nav-link(href='/addcry') Add Cry
      li.nav-item
        a.nav-link(href='/crycount') Cry Count
      li.nav-item
        a.nav-link(href='/logout') Log Out