extends layout-main

block head

block navbar

block content
  .wrapper
  form.form-signin(action='/addCry' method='post')
    h2
      center Add Cry
    .form-group
      button.btn.btn-primary.btn-block(type='submit') Add

block scripts
  script(type='text/javascript').
     $(document).ready( function () {
        $("#cryNumber").on('input', function(){
            $("#cryNumberLabel").text("Cry Range: " + $("#cryNumber").val())
        });

     });
