extends layout-main

block head

block navbar

block content
  .wrapper
  center
    h2#username
    ol#count

block scripts
  script(type='text/javascript').
    $(document).ready( function () {
    $.when(
      $.getJSON('/usercries')
    ).done(function(json) {
          for(var i = 1; i<=json.totalCries; i++){
        $('#count').append('<li id="ticks"></li>');
    }
        $("#username").text(json.username + " Cries:")
    })
    });

