extends layout-main

block content
  .wrapper
  center
    h2 Celt-X Total Cries
    ol#count
  center
    h2#username
    ol#countUser

block scripts
  script(type='text/javascript').
    $(document).ready( function () {
    $.when(
      $.getJSON('/totalCries')
    ).done(function(json) {
          for(var i = 1; i<=json.totalCries; i++){
        $('#count').append('<li id="ticks"></li>');
    }
    });
    $.when(
      $.getJSON('/totalCries?user=true')
    ).done(function(json) {
          for(var i = 1; i<=json.totalCries; i++){
        $('#countUser').append('<li id="ticks"></li>');
    }
    $("#username").text(json.username + " Cries:")
    })
    });

