extends layout-main

block content
  .wrapper
  center
    h2#title
    ol#count
  center
    h2#username
    ol#countUser

block scripts
  script(type='text/javascript').
    $(document).ready( function () {
      let jsonUrl = "";
      let title = "";
      if(window.location.search == "?user=true"){
        jsonUrl = '/totalCries?user=true';
      } else {
        jsonUrl = '/totalCries' 
        title = "Celt-X Cries";
      }
    $.when(
      $.getJSON(jsonUrl)
    ).done(function(json) {
          for(var i = 1; i<=json.totalCries; i++){
        $('#count').append('<li id="ticks"></li>');
    }
    $("#title").text(title == "" ? json.username + " Cries:" : title+ " Cries:")
    });
  
    });

