extends layout-logout

block content
  .wrapper
    form.form-signin(action='/login' method='post')
      h2
        center Login
      if loginError
        .alert.alert-warning Invalid Login
      .form-group
        label(for='username') Username
        input#username.form-control(name='username')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password' name='password')
      .form-group
        button.btn.btn-primary.btn-block(type='submit') Login
      p.text-center
        a(href='/register') Register

block scripts
