extends layout-logout

block content
  .wrapper
  form.form-signin(action='/register' method='post')
    h2
      center Register
    if userExists
      .alert.alert-warning The username you selected already exists
    .form-group
      label(for='username') Username
      input#username.form-control(name='username')
    .form-group
      label(for='password') Password
      input#password.form-control(type='password' name='password')
    .form-group
      button.btn.btn-primary.btn-block(type='submit') Register
    p.text-center
      a(href='/login') Login
block scripts